[submodule "franka_ros"]
	path = franka_ros
	url = https://github.com/lernfabrik/franka_ros.git
[submodule "universal_robot"]
	path = universal_robot
	url = https://github.com/lernfabrik/universal_robot.git
[submodule "moveit_tutorials"]
	path = moveit_tutorials
	url = https://github.com/ros-planning/moveit_tutorials.git
[submodule "pilz_industrial_motion"]
	path = pilz_industrial_motion
	url = https://github.com/PilzDE/pilz_industrial_motion.git
[submodule "iwtros_control"]
	path = iwtros_control
	url = git@bitbucket.org:iwt_lernfabrik/iwtros_control.git
[submodule "iwtros_robots"]
	path = iwtros_robots
	url = git@bitbucket.org:iwt_lernfabrik/iwtros_robots.git
[submodule "iiwa_ros"]
	path = iiwa_ros
	url = https://github.com/lernfabrik/iiwa_ros.git